/*CSS reset settings here*/
* {
	margin: 10px;
	padding: 20px;
}
#wrapper {
	width: 100%;
	background-color: silver;
}
#header {
	min-height: 150px;
	background-color: green;
	padding-bottom: 0px;
}
#navigation {
	min-height: 300px;
	width: 200px;
	background-color: blue;
}
#main_content {
	min-height: 400px;
	width: 75%;
	vertical-align: top;
	padding-top: 10px;
	background-color: red;
}
.subcontents {
	min-height: 200px;
	width: 210px;
	padding-left: 100px;
	background-color: yellow;
}
#advertisement {
	min-height: 120px;
	width: 800px;
	background-color: purple;
}

.inl-bk {
	display: inline-block;
}

/* Shawn L, Diego Fernandez, James */
